nav {
    opacity: 100% !important;
}

html {
    scroll-behavior: smooth;
}

/* 
 * red: #d13638;
 * softred: #f4c3c4;
 */

body {
    padding-top: 50px;
}

#background {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#background>video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
    #background>video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #background>video {
        width: 300%;
        left: -100%;
    }
}

/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit: cover) {
    #background>video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.button:hover {
    background-color: #d13638;
    color: #fff;
    border-color: #d43f3a;
}

.red {
    color: #d13638;
}

.padding-custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.appendbutton {
    display: flex;
}

.inputcustom {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
}

.buttoncustom {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.buttoncustom:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.buttoncustom:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

@media (max-width: 768px) {
    .colspace {
        padding-top: 50px;
    }
}

.table-pruge>tbody>tr:nth-of-type(odd) {
    background-color: #f4c3c4;
}

.table-pruge>tbody>tr:last {
    background-color: #f9f9f9;
}

.borderline {
    border-top-width: 2px !important;
    border-top: solid !important;
    border-top-color: #d13638 !important;
}

.shadow {
    box-shadow: 0 4px 4px -2px #000000;
}

.backgroundwhite {
    background-color: #fff;
}

.backgroundgrey {
    background-color: rgb(249, 249, 249);
    padding-top: 10px;
    margin-bottom: 20px;
}

.navback {
    background-image: url('../images/nav.png');
    background-repeat: all;
}

/*
.backgroundimage {
    background-repeat: repeat;
    /*    background-image: url('images/wave.png')
    background-repeat: repeat-y; */
/*background-image: url('../images/pocetna.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: max(1920px);*/
}

.ps {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ptxl {
    padding-top: 100px;
}

.ptl {
    padding-top: 50px;
}

.pts {
    padding-top: 15px;
}

.p0 {
    padding: 0px;
    margin: 0px;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

.custombutton {
    background-color: #f6f6f6;
    color: #454545;
}

.custombutton:hover {
    background-color: #ededed;
    color: #2b2b2b;
}

.custombutton:active {
    background-color: #007fff;
    color: #ffffff;
}

.custombutton2 {
    background-color: #f7f7f7;
    color: #777;
}

.custombutton2:hover {
    background-color: #f7f7f7;
    color: #333;
}

.custombutton2:active {
    background-color: #e8e8e8;
    color: #333;
}

textarea {
    resize: vertical;
}

.opacity {
    animation-duration: 2.35s;
    animation-name: opacityin;
}

@keyframes opacityin {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.animatein {
    /*animation: 3s ease-in 1s 2 reverse both paused slidein;*/
    animation-duration: 2.35s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h2 {
    padding-top: 75px;
    padding-bottom: 25px;
    margin: 0px;
}

/*
.body > div.container > div.row:nth-of-type(odd) {
    background-color: #f4c3c4;
}

body > div.container > div.row:nth-of-type(even) {
    background-color: #fff;
}
*/

.blackborder {
    border-color: #4f4f4f;
    /*height: 35vh;*/
}

/*
div.panel.blackaborder > div.panel-heading {
    border-bottom-width: 1px;
    border-bottom-color: #4f4f4f;
    border-bottom-style: solid;
    background-color: rgb(249, 249, 249);
}*/

.blue {
    color: rgb(46, 112, 171);
}

.mh {
    max-height: 75px;
}

.nb {
    border: none;
}

.tl {
    text-align: left;
}

.customtext {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Ballet, serif;
    font-size: 2.5rem;
}

.underline {
    width: 50%;
    position: absolute;
    left: 25%;
    right: 25%;
    border-bottom-color: gold;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.maps {
    background-image: url('../images/algebra/kakoDoNas.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:
}

.mapsoverlay {
    background-color: rgba(0, 0, 0, 0.05);
}

#topimage {
    max-height: 350px;
    min-width: 100%;
    background-image: url('../images/algebra/kampus-iz-zraka-min-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:
}

.videocontainer {
    position: relative;
    text-align: center;
    color: white;
}

.h1h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    font-size: 8rem;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.background {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 350px;
    max-height: 350px;
    min-width: 100%;
    background-image: url('../images/algebra/zaiskri-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:
}