/* 
 * red: #d13638;
 * softred: #f4c3c4;
 */

body {
    padding-top: 50px;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.button:hover {
    background-color: #d13638;
    color: #fff;
    border-color: #d43f3a;
}

.red {
    color: #d13638;
}

.padding-custom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.appendbutton {
    display: flex;
}

.inputcustom {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
}

.buttoncustom {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.buttoncustom:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.buttoncustom:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

@media (max-width: 768px) {
    .colspace {
        padding-top: 50px;
    }
}

.table-pruge>tbody>tr:nth-of-type(odd) {
    background-color: #f4c3c4;
}

.table-pruge>tbody>tr:last {
    background-color: #f9f9f9;
}

.borderline {
    border-top-width: 2px !important;
    border-top: solid !important;
    border-top-color: #d13638 !important;
}

.shadow {
    box-shadow: 0 4px 4px -2px #000000;
}

.backgroundwhite {
    background-color: #fff;
}

.backgroundimage {
    background-image: url('../images/burger.png');
    background-repeat: repeat;
    /*    background-image: url('images/wave.png')
    background-repeat: repeat-y; */
    /*background-image: url('../images/pocetna.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: max(1920px);*/
}

.ptl {
    padding-top: 50px;
}

.pts {
    padding-top: 15px;
}

.p0 {
    padding: 0px;
    margin: 0px;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

.custombutton {
    background-color: #f6f6f6;
    color: #454545;
}

.custombutton:hover {
    background-color: #ededed;
    color: #2b2b2b;
}

.custombutton:active {
    background-color: #007fff;
    color: #ffffff;
}

.custombutton2 {
    background-color: #f7f7f7;
    color: #777;
}

.custombutton2:hover {
    background-color: #f7f7f7;
    color: #333;
}

.custombutton2:active {
    background-color: #e8e8e8;
    color: #333;
}

textarea {
    resize: vertical;
}

.animatein {
    /*animation: 3s ease-in 1s 2 reverse both paused slidein;*/
    animation-duration: 2.35s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}